<div class="card" style="width: 18rem;">
  <img src="https://source.unsplash.com/1600x900/?city" class="card-img-top" alt="...">
  <div class="card-body">
    <p class="card-text">Come to our cities and experience a great journey with fantastic cars! We are all over the world! Team OTRX!</p>
  </div>
</div>
