<div class="card" style="width: 18rem;">
  <img src="https://source.unsplash.com/1600x900/?smile" class="card-img-top" alt="...">
  <div class="card-body">
    <p class="card-text">Create memories. Thats the spirit. Upgrade your city-trip with a nice old-timer car ride! We are looking forward!</p>
  </div>
</div>
