<div class="card" style="width: 18rem;">
  <img src="https://images.pexels.com/photos/2533092/pexels-photo-2533092.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260" class="card-img-top" alt="...">
  <div class="card-body">
    <p class="card-text">Check out this Old-Timer! It looks so amazing and you can rent it! So don't be shy and start your booking!</p>
  </div>
</div>
