<div class="card" style="width: 18rem;">
  <img src="https://source.unsplash.com/1600x900/?oldtimer" class="card-img-top" alt="...">
  <div class="card-body">
    <p class="card-text">Check out this Old-Timer! It looks so amazing and you can rent it! So don't be shy and start your booking!</p>
  </div>
</div>
