<div class="input-group" style="padding: 50px;">

  <div class="input-group-prepend">
    <span class="input-group-text">Location - Date - Driving Experience</span>
  </div>
  <input type="text" aria-label="Location" class="form-control">
  <input type="text" aria-label="Date" class="form-control">
  <input type="text" aria-label="Experience" class="form-control">
</div>
