<div class="logo">
  <h1>OTRX</h1>
</div>
<div class="container">
    <h2>Hello and welcome to Oldtimer - Rent - Exchange!</h2>
  <div>
    <%= render 'partials/input_field_homepage' %>
  </div>
  <div class="text">
    <p style="margin-right: 600px;">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.</p>
  </div>
  <h1 style="color: #ffb600; margin-top: 10px; margin-left: 20px; text-align: left;">Your Memory!!!</h1>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
</div>
  <h4>Create memories with an unforgettable Old-Timer Experience</h4>
<div class="cards">
  <%= render 'partials/card1' %>
  <%= render 'partials/card2' %>
  <%= render 'partials/card3' %>
</div>
