<div class="car">
  <img src="https://source.unsplash.com/random" width= 600px height= auto class= p-3 />
  <div class="car-infos">
    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-sm-10 col-sm-offset-1">
          <h1><%= @car.name %></h1>
          <table class="table table-bordered">
            <tbody>
              <tr>
                <th scope="row">Model</th>
                <td><%= @car.model %></td>
              </tr>
              <tr>
                <th scope="row">Brand</th>
                <td><%= @car.brand %></td>
              </tr>
              <tr>
                <th scope="row">location</th>
                <td><%= @car.location %></td>
              </tr>
            </tbody>
          </table>
    <h2 class="card-trip-pricing">£99.99</h2>
    <img src="https://kitt.lewagon.com/placeholder/users/krokrob" class="card-trip-user avatar-bordered" />
  </div>
</div>
